.contenedor-form{
    background-repeat: no-repeat;
    background-size: 100vw;
    background-image: url(../../../img/img\ tablon.jpeg);
    display: flex;
    justify-content: center;
    padding: 2em;


    .form{
        width: 40vw;
        background-color: rgba(240, 248, 255, 0.649);
        padding: 2em;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
        border-radius: 10px 10px;
        text-align: left;
        display: flex;
        flex-direction: column;

    }
    .button{
        width: 10em;
        align-self: center;
    }

}