.menu {
    display:  flex;
    justify-content: space-around;

    .contenedor{
        width: 33.3vw;
        padding-bottom: 5em;
        padding-top: 5em;
        .imagen-contactos{
            width: 380px;
        }
        .imagen-evento{
            width: 300px;
        }
        .imagen-ver-eventos{
            width: 400px;
        }
    }
}