.contenedor-login{
    background-color: gray;
    height: 80vh;
   display: flex;
   justify-content: space-around;
   align-items: center;

    
    .imgHome{
        align-self: flex-end;
        margin-bottom: 1em;
        .title{
            margin-bottom: 2.5em;
            color: antiquewhite;
            font-size: 1.4em;

        }
        
    }
    .imgAdolescentes{
        border-radius: 5px 5px;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
    }

    .login{
        align-self: flex-start;
        border-radius: 10px 10px ;
        margin-top: 1em;
        padding: 2em;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
       .form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1em;
        a{
            color: antiquewhite;
        }
       }
    }
}

@media (max-width: 600px) {
    .contenedor-login{
        display: block;
        height: 100vh;
        .imgHome{
            margin-bottom: 0;
            .title{
            margin-bottom: 0em;
            font-size: 1em;
            padding: 10px;
            h1{
                padding: 0;
            }
            }
        }
        .imgAdolescentes{
            width: 350px;
            box-shadow: 2px 2px;
        }
        .form{
        }
    }
}